<div *ngIf="!quizData">
  <p>Loading quiz data...</p>
</div>

<div class="quiz-container" *ngIf="quizData">
  <h1>{{ quizData.lesson }}</h1>
  <div class="question-box" *ngIf="quizData.questions && quizData.questions.length > 0">
    <p>{{ quizData.questions[currentQuestionIndex]?.question }}</p>
    <div *ngFor="let option of quizData.questions[currentQuestionIndex]?.options; let i = index">
      <input
        type="radio"
        [id]="'option' + i"
        [value]="option"
        name="option"
        [(ngModel)]="selectedOption"
      />
      <label [for]="'option' + i">{{ option }}</label>
    </div>
    <button (click)="nextQuestion()">Next</button>
  </div>
  <div *ngIf="!quizData.questions || quizData.questions.length === 0">
    <p>No questions available.</p>
  </div>
</div>