<div class="lesson-container">
  <mat-card class="lesson-card">
    <mat-card-title>Lesson 1: Introduction to Angular</mat-card-title>
    <mat-card-content>
      Angular ek powerful frontend framework hai jo web applications banane ke liye use hota hai.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les1']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 2: Components & Modules</mat-card-title>
    <mat-card-content>
      Components Angular applications ka main building block hote hain.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les2']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>
</div>
