<div class="lesson-container">
  <mat-card class="lesson-card">
    <mat-card-title>Lesson 1: What is Functional Programming?</mat-card-title>
    <mat-card-content>
      An introduction to Functional Programming, covering key principles, advantages and Object-Oriented Programming.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les1']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 2: Basic Functional Programming Concepts</mat-card-title>
    <mat-card-content>
      covers essential functional programming concepts like first-class functions, higher-order functions, immutability,
      pure functions, and common array methods
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les2']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 3: Intermediate Functional Programming Concepts</mat-card-title>
    <mat-card-content>
      introduces intermediate functional programming concepts like pattern matching, recursion, lazy evaluation, and
      currying in JavaScript and Python
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les3']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 4: Intermediate Functional Programming Concepts</mat-card-title>
    <mat-card-content>
      introduces intermediate functional programming concepts like pattern matching, recursion, lazy evaluation, and
      currying in JavaScript and Python
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les4']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 5: To Add</mat-card-title>
    <mat-card-content>
      to add
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les5']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 6: To Add</mat-card-title>
    <mat-card-content>
      to add
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les6']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 7: To Add</mat-card-title>
    <mat-card-content>
      to add
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les7']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 8: To Add</mat-card-title>
    <mat-card-content>
      to add
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les8']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 9: To Add</mat-card-title>
    <mat-card-content>
      to add
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les9']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 10: To Add</mat-card-title>
    <mat-card-content>
      to add
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les10']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>
</div>