<div class="lesson-container">
  <mat-card class="lesson-card">
    <mat-card-title>Lesson 1: What is Functional Programming?</mat-card-title>
    <mat-card-content>
      An introduction to Functional Programming, covering key principles, advantages and Object-Oriented Programming.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les1']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 2: Basic Functional Programming Concepts</mat-card-title>
    <mat-card-content>
      covers essential functional programming concepts like first-class functions, higher-order functions, immutability,
      pure functions, and common array methods
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les2']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 3: Intermediate Functional Programming Concepts</mat-card-title>
    <mat-card-content>
      introduces intermediate functional programming concepts like pattern matching, recursion, lazy evaluation, and
      currying in JavaScript and Python
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les3']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 4: Advanced Functional Programming Concepts – Monads, Functors, and
      Concurrency</mat-card-title>
    <mat-card-content>
      This lesson explores advanced functional programming concepts like monads, functors, functional error handling,
      concurrency, and immutable data structures in JavaScript and Python.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les4']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 5: Functional Programming in Practice</mat-card-title>
    <mat-card-content>
      This lesson focuses on applying functional programming concepts to solve real-world problems with clean, efficient
      code.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les5']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 6: Real-World Applications and Projects - Simplified
    </mat-card-title>
    <mat-card-content>
      Focuses on using programming skills to build practical projects and real-world applications, demonstrating how to
      solve actual problems efficiently.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les6']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 7: Advanced Topics
    </mat-card-title>
    <mat-card-content>
      Explores complex programming concepts such as concurrency, design patterns, and performance optimization to deepen
      our understanding and enhance coding skills.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les7']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 8: Key Functional Programming Libraries in JavaScript and Python</mat-card-title>
    <mat-card-content>
      Covers essential functional programming libraries in JavaScript and Python, showcasing tools like Lodash, Ramda,
      and PyFunctional to simplify functional programming tasks.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les8']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 9: Case Studies and Industry Applications</mat-card-title>
    <mat-card-content>
      Explores real-world case studies and how functional programming is applied in various industries to solve complex
      problems and improve software development efficiency.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les9']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="lesson-card">
    <mat-card-title>Lesson 10: Final Project</mat-card-title>
    <mat-card-content>
      In this lesson, students apply all the concepts learned throughout the course to build a comprehensive, functional
      programming-based project, demonstrating their understanding and skills.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="custom-button" [routerLink]="['/les10']">
        View Lesson
      </button>
    </mat-card-actions>
  </mat-card>
</div>